<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>
    <display-name>L15-ms</display-name>

    <servlet>
        <servlet-name>WebSocketChatServlet</servlet-name>
        <servlet-class>ru.otus.servlets.WebSocketChatServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WebSocketChatServlet</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>chat.html</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>
            ru.otus.servlets.listener.AppServletContextListener
        </listener-class>
    </listener>

</web-app>